body{
    font-family: 'Merriweather', serif;
    background-color: #d1b271;
}

.game{
    display: none;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.game__main{
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100vh;
    width: 50vw;
}

.game__right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 25vw;
}
.game__left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 25vw;
}

.game__card{
    display: flex;
    height: 200px;
    border: 5px solid #fed90f;
    border-radius: 10px;
    background-color: #70d1fe;
    margin-bottom: 3em;
    -webkit-box-shadow: 5px 5px 15px 5px #00000052; 
    box-shadow: 5px 5px 15px 5px #00000052;
}

input{
    border: 5px solid #fed90f;
    border-radius: 10px;
    background-color: #70d1fe;
    margin-bottom: 3em;
    -webkit-box-shadow: 5px 5px 15px 5px #00000052; 
    box-shadow: 5px 5px 15px 5px #00000052;
    outline: none;
}

.game__card-text{
    margin: 2em;
}
